<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'tmp_head_base.html' %}

  <title>Quickpaste - {{noteID}}</title>

  <link href="/static/style/core.css" rel="stylesheet"/>
  <link href="/static/font/hack.css" rel="stylesheet"/>

  <link href="/static/lib/codemirror/codemirror.css" rel="stylesheet"/>
  <script src="/static/lib/codemirror/codemirror.js"></script>
  <script src="/static/lib/codemirror/mode/javascript/javascript.js"></script>
</head>
<body>
  <div class="bg-dark" id="full-container">
    <div class="navbar bg-dark" id="nav">
      <section class="navbar-section">
        <a href="/" class="navbar-brand mr-2">
          QuickPaste
        </a>
        <button id="btn-share" class="btn btn-primary"><img alt="Share icon" src="/static/icon/share.svg" class="navbar-icon"></button>
        <button id="btn-public" class="btn btn-primary">Make public</button>
      </section>
        <section class="navbar-section navbar-center">
          <label class="bg-dark">/note/{{ noteID }}</label>
          <img src="/static/icon/save.svg" alt="save icon" id="save-icon" class="navbar-icon">
        </section>
      {% include 'tmp_user_header.html' %}
    </div>
    <div id="body-container" class="bg-dark">
      <textarea id="editor-pane" class="bg-dark" spellcheck="false">{{content}}</textarea>
    </div>
    <div id="msg-overlay" class="toast toast-success fadeout"></div>
  </div>
  <script src="/static/script/editor.js"></script>
</body>
</html>
