<html>
<head>
  <link href="/resource/spectre.min.css" rel="stylesheet">
  <link href="/resource/core.css" rel="stylesheet">
  <script src="/resource/editor.js"></script>
  <link href="/resource/hack.css" rel="stylesheet"/>
</head>
<body>
    <header class="navbar bg-dark">
      <section class="navbar-section">
        <a href="/" class="navbar-brand mr-2">
          QuickPaste
        </a>
      </section>
        <section class="navbar-section navbar-center">
          <label class="bg-dark">/note/{{ noteID }}</label>
        </section>
      <section class="navbar-section">
        <label>CUB3D</label>
        <figure class="avatar" data-initial="YZ" style="background-color: #5755d9;">
          <!--<img src="img/avatar-1.png" alt="...">-->
        </figure>
      </section>
    </header>
    <div id="edit-pane" class="editor-pane bg-dark" contenteditable="true" spellcheck="false">
    </div>
</body>
</html>