<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'tmp_head_base.html' %}

  <title>QuickPaste</title>
</head>
  <body class="bg-dark">
    <header class="navbar">
      <section class="navbar-section">
        <a href="/" class="navbar-brand mr-2 ml-2">QuickPaste</a>
        <a class="btn btn-primary" href="/newNote">New note</a>
      </section>
      {% include 'tmp_user_header.html' %}
    </header>

    <div class="container">
      <h2>Your notes</h2>
      <div class="container">
        <div class="columns d-flex" style="flex-wrap: wrap">
          {% for note in notes %}
            <div class="column card bg-dark mr-2 mb-2" style="max-width: 10em">
              <div class="card-header">
                <a class="card-title" href="/edit/{{note.note_id}}"><h4>{{ note.note_id }}</h4></a>
              </div>
              <div class="card-body">
{#                <p>"{{ note }}"</p>#}

                {% if note.public %}
                  <img src="/static/icon/unlock.svg"/>
                {% else %}
                  <img src="/static/icon/lock.svg"/>
                {% endif %}
              </div>
            </div>
          {% endfor %}
          <div class="column card bg-dark mr-2 mb-2 d-flex" style="max-width: 10em; justify-content: center">
              <a style="margin-left: auto; margin-right: auto" href="/newNote">
                <img style="display: block" height="75em" src="/static/icon/plus-circle.svg" alt="New"/>
              </a>
          </div>
        </div>
      </div>
      <h2>Public Notes</h2>
      <div class="container">
        <div class="columns d-flex" style="flex-wrap: wrap">
          {% for note in public_notes %}
            <div class="column card bg-dark mr-2 mb-2" style="max-width: 10em">
              <div class="card-header">
                <a class="card-title" href="/view/{{note[0].note_id}}"><h4>{{ note[0].note_id }}</h4></a>
              </div>
              <div class="card-body">
                <span><img src="/static/icon/eye.svg"/>{{ note[1] }}</span>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
