<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'tmp_head_base.html' %}

  <title>QuickPaste</title>
  <link href="/static/style/spectre.min.css" rel="stylesheet">
  <script src="http://localhost:8085/ukauth.js"></script>
  <script src="https://storage.cub3d.pw/auth/ukauth.js"></script>
  <script>
      let appDescription = {
          APP_ID: "9kAw0wuU0JCPgAXGSSD942F2OkmHNMUQ",
          callback: function (user) {
              console.log("User logged in: " + user.username);
          }
      };
      ukauth.init(appDescription);
  </script>
</head>
  <body class="bg-dark">
    <header class="navbar">
      <section class="navbar-section">
        <a href="/" class="navbar-brand mr-2 ml-2">QuickPaste</a>
        <a class="btn btn-primary" href="/newNote">New note</a>
      </section>
      {% include 'tmp_user_header.html' %}
    </header>

  <h1>Your notes</h1>
  {% for note in notes %}
    <p>{{ note.note_id }}</p>
  {% endfor %}
  </body>
</html>
