<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="application-name" content="QuickPaste">
<meta name="theme-color" content="#4285f4">
<meta name="description" content="Paste and share, fast and easy">

<link href="/static/style/spectre.min.css" rel="stylesheet"/>

{#<script src="http://localhost:8085/ukauth.js"></script>#}
<script src="https://storage.cub3d.pw/auth/ukauth.js"></script>
<script>
    let appDescription = {
        APP_ID: "9kAw0wuU0JCPgAXGSSD942F2OkmHNMUQ",
        callback: function (user) {
            console.log("User logged in: " + user.username);
        }
    };
    ukauth.init(appDescription);
</script>
