<html>
<head>
  <link href="/resource/spectre.min.css" rel="stylesheet">
  <link href="/resource/view.css" rel="stylesheet">
  <link href="/resource/hack.css" rel="stylesheet"/>
  <title>Quickpaste - {{noteID}}</title>
  <link href="/pygmentStyle" rel="stylesheet"/>
</head>
<body class="bg-dark">
<div class="bg-dark" id="full-container">
    <div class="navbar bg-dark" id="nav">
      <section class="navbar-section">
        <a href="/" class="navbar-brand mr-2">
          QuickPaste
        </a>
      </section>
        <section class="navbar-section navbar-center">
          <label class="bg-dark">/note/{{ noteID }}</label>
        </section>
      <section class="navbar-section">
        <label>CUB3D</label>
        <figure class="avatar" data-initial="C" style="background-color: #5755d9;">
          <!--<img src="img/avatar-1.png" alt="...">-->
        </figure>
      </section>
    </div>
    <div id="editor-pane" class="bg-dark" contenteditable="false" spellcheck="false">{{content|safe}}</div>
</div>
</body>
</html>